h1 { color: #3b82f6; }


/* Improve datepicker visibility in dark theme */
.mat-datepicker-toggle-default-icon {
  color: rgba(255,255,255,0.75) !important;
}
.mat-datepicker-toggle:hover .mat-datepicker-toggle-default-icon {
  color: rgba(255,255,255,1) !important;
}

