
<mat-tab-group fitInkBarToContent="false" animationDuration="0ms" class="wt-tabs wt-tabs--flat" mat-stretch-tabs="false" class="wt-tabs wt-tabs--unified wt-tabs wt-tabs--flat wt-tabs tabs-compact dashboard-tabs">
  <mat-tab label="Create Project">
    <div class="tab-content"><app-create-project></app-create-project></div>
  </mat-tab>
  <mat-tab label="Calendar">
    <div class="tab-content">Calendar content here...</div>
  </mat-tab>
  <mat-tab label="Assign Projects">
    <div class="tab-content">Assign content here...</div>
  </mat-tab>
</mat-tab-group>
