@use '@angular/material' as mat;

@include mat.core();

$dark-primary: mat.define-palette(mat.$indigo-palette, 500, 300, 700);
$dark-accent:  mat.define-palette(mat.$blue-palette, 500, 300, 700);
$dark-warn:    mat.define-palette(mat.$red-palette);

$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));

@include mat.all-component-themes($dark-theme);


/* Improve datepicker visibility in dark theme */
.mat-datepicker-toggle-default-icon {
  color: rgba(255,255,255,0.75) !important;
}
.mat-datepicker-toggle:hover .mat-datepicker-toggle-default-icon {
  color: rgba(255,255,255,1) !important;
}

