<div class="app-shell">
  <header class="navbar">
    <div class="container nav-content">
      <a routerLink="/" class="logo"><img src="assets/images/logo-worktrace.png" alt="Logo" class="logo-img"> WorkTrace</a>
      <nav class="menu">
        <a routerLink="/" class="nav-link">Powerful Tools</a>
        <a routerLink="/pricing" class="nav-link">Pricing</a>
        <a routerLink="/contact" class="nav-link">Contact</a>
        <a routerLink="/login" class="nav-link login-link">Login</a>
      </nav>
    </div>
  </header>

  <main class="app-view">
    <router-outlet></router-outlet>
  </main>
</div>
