
:root {

  --wt-radius-sm: 6px;
  --wt-radius-md: 10px;
  --wt-radius-lg: 14px;

  --wt-space-xs: 4px;
  --wt-space-sm: 8px;
  --wt-space-md: 16px;
  --wt-space-lg: 24px;
  --wt-space-xl: 32px;

  --wt-page-max-width: 1600px;

}
